<div class="col-lg-8 mx-auto p-3 py-md-5 text-center">
	<small class="fs-7 text-muted"><i class="bi bi-info-square-fill"></i> Contact <a class="text-muted" href="https://linktr.ee/am172_">@am172_</a></small>
</div>