<div class="col-lg-8 mx-auto p-3 py-md-5 text-center">
	<small class="fs-7 text-muted">
		<i class="bi bi-info-square-fill"></i> Contact <a class="text-muted" href="https://linktr.ee/i.adnan.mukhtar">ꪖᦔꪀꪖꪀ ꪑꪊᛕꫝꪻꪖ᥅</a>
		&nbsp;
		<i class="bi bi-rss-fill"></i> <a class="text-muted" href="<%= `${site.url}/highlights/feed` %>">Feed</a>
	</small>
</div>