<nav class="navbar fixed-top container col-lg-8 mx-auto">
	<div class="row">

		<div class="col-md-4 col-1 text-nowrap">
			<a href="/" class="d-flex text-dark text-decoration-none">
				<img src="/images/logo.svg" width="32" height="32" class="me-2" role="img">
				<h1 class="fs-4 d-md-block d-none">
					<div class="title"><%- site.name %></div>
					<% if (page.subtitle_en) { %>
					<div class="subtitle fs-6 text-muted">
						<%- page.subtitle_en %>
						<%- page.subtitle ? `<span lang="ar">${page.subtitle}</span>` : '' %>
					</div>
					<% } %>
				</h1>
			</a>
		</div>

		<div class="col">

			<form action="/">
			<ul class="nav justify-content-end">
				<li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" aria-current="page" href="/books">Books</a></li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">More</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/recent">Highlights</a></li>
						<li><a class="dropdown-item" href="/requests">Translation Requests</a></li>
					</ul>
				</li>
				<li class="nav-item search-click-toggle <%= (page.menu == 'Home' || page.menu == 'Search') ? 'd-none' : '' %>">
					<input type="text" class="form-control search-click" name="q" placeholder="Search aḥādīth..." />
					<a class="nav-link"><i class="bi bi-search"></i></a>
				</li>
			</ul>
			</form>

		</div>

	</div>
</nav>
