<!doctype html>
<html lang="en">

<head> 
<%
    var root = 'https://hadith.quranunlocked.com';
    var site = {
      name: 'Ḥadīth Unlocked',
      url: root,
      logo: `${root}/images/logo.png`,
    };
    
    var subtitle_en = 'Recent Updates';
    var page = {
      menu: 'Recent',
      title_en: `${site.name} | ${subtitle_en}`,
      subtitle_en: subtitle_en,
      subtitle: null,
      canonical: `/recent`,
    };
%> 

<%- include('sub-views/head.ejs', { site: site, page: page, context: {} }); %> 

</head>

<body>
  <div class="col-lg-8 mx-auto p-3 py-md-5">

    <%- include('sub-views/header.ejs', { site: site, page: page }); %> 

    <main class="search-results">
      <div class="row"> 
        
        <% for (var i = 0; i < results.length; i++) { %>

          <%- include('sub-views/hadith.ejs', { hadith: results[i], title: true }); %>

        <% } %>

      </div>
    </main>
  </div>

<%- include('sub-views/scripts.ejs'); %>

</body>
</html>