@font-face {
	font-family: Kitab;
	src: url(/fonts/kitab-base.woff2);
}

body {
	font-family: Arial;
}

body :lang(ar) {
	font-family: Kitab;
	font-size: 1.25rem;
	direction: rtl;
}

.banner img {
	width: 30%;
}

@media (max-width: 720px) {
	.banner img {
		width: 50%;
	}
}

.pagination a,
.top a {
	font-size: 0.85rem;
	color: #2c9be5;
}

.top a {
	text-decoration: none;
}

.h {
	margin-top: 0.75em;
}

.h p {
	margin-bottom: 0.25rem;
}

.h i {
	background-color: yellow;
	font-style: inherit;
}

.h:lang(en) {
	font-size: 0.85rem;
}

.h .grade {
	font-weight: bold;
	font-style: normal;
	color: #2c9be5;
}

.h .chain,
.text-muted {
	color: #a0a0a0 !important;
}

.h .body {
	text-indent: 2em;
}

.h .footnote {
	color: #a0a0a0;
	text-indent: 2em;
}

.h .title,
.h .title a {
	color: #2c9be5;
	text-decoration: none;
}

.h .title a:hover {
	text-decoration: underline;
}

.toc a,
.toc2 a {
	text-decoration: none;
}

.toc a:hover,
.toc2 a:hover {
	text-decoration: underline;
}

.toc th,
.toc2 th {
	text-align: left;
}

.toc :lang(ar),
.toc2 :lang(ar) {
	text-align: right;
}

.toc tr.chapter,
.toc2 tr.chapter {
	background-color: ghostwhite;
	font-weight: bold;
}

.toc tr.title,
.toc2 tr.title {
	font-size: small;
}

.toc tr.title :lang(ar),
.toc2 tr.title :lang(ar) {
	font-size: 1rem;
}

.toc tr.title td {
	padding-left: 1.5rem;
	padding-right: 0;
}

.toc tr.title td:nth-child(4) {
	padding-left: 0;
	padding-right: 1.5rem;
}

.toggle {
	color: green;
	text-decoration: none;
}

.chapter h2:lang(ar),
.chapter h2:lang(ar) a {
	font-size: 1.75rem !important;
	font-weight: bold;
}

.chapter h3:lang(ar),
.chapter h3:lang(ar) a {
	font-size: 1.5rem !important;
	font-weight: bold;
}

/*
.similar-list {
	opacity: 0.6;
}
*/

.bi-reception-4,
.bi-reception-3,
.bi-reception-2 {
	color: green;
}

.bi-reception-1,
.bi-reception-0 {
	color: red;
}

.bi-patch-check-fill {
	color: #2c9be5;
}

.cmd-tr,
.cmd-tr a {
	color: #a0a0a0;
	line-height: 1.5rem;
}

.cmd-btn,
a.cmd-btn {
	color: #a0a0a0 !important;
	margin-left: 5px;
}
a.cmd-btn:hover {
	color: red !important;
}