@font-face {
	font-family: Kitab;
	src: url(/fonts/kitab-base.woff2);
}

body {
	font-family: Arial;
}

body :lang(ar) {
	font-family: Kitab;
	font-size: 1.3rem;
	direction: rtl;
}

.banner img {
	width: 30%;
}

@media (max-width: 720px) {
	.banner img {
		width: 50%;
	}
}

main {
	margin-top: 5rem;
}

main.chapter {
	margin-top: 7rem;
}

@media (max-width: 576px) {
	main {
		margin-top: 3.5rem;
	}
	main.chapter {
		margin-top: 5.5rem;
	}	
}

.navbar {
	top: 0;
	display: block;
	background-color: white;
	position: fixed;
	z-index: 1000;
}

.navbar > .row {
	border-bottom: 1px solid var(--bs-border-color);
}

nav.shrink .title,
nav.shrink .title :lang(ar) {
	transition: all .25s;
	font-size: 0.75rem !important;
}

nav .nav-link {
	font-size: 0.90rem;
	color: var(--bs-heading-color);
	padding: 5px 15px 0 0;
}

.text-muted {
	color: #a0a0a0 !important;
}

.dropdown-menu,
.form-check {
	font-size: 0.90rem;
}

.dropdown-menu {
	max-height: 11rem;
	overflow-y: scroll;
}

.search-click-toggle .form-control {
	width: 30vw;
}

.search-click-toggle input {
	display: none;
}

.search-click-toggle i {
	display: inherit;
}

.search .form-check {
	margin-left: 0.5rem;
}

#search-bar + .btn-outline-secondary {
	border-color: var(--bs-border-color);
	color: #2c9be5;
}

#search-bar + .btn-outline-secondary:hover,
#search-bar + .btn-outline-secondary:focus,
#search-bar + .btn-outline-secondary:active,
#search-bar + .btn.show {
	border-color: #2c9be5;
	background-color: #2c9be5;
	color: white;
}

.chapter-toc {
	border-bottom: 1px solid var(--bs-border-color);
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 0.85rem;
	background-color: #f8f8f8;
}

.chapter-toc a {
	color: #2c9be5;
}

.chapter-toc .collapse {
	max-height: 50vh !important;
	overflow-y: scroll;
}

.chapter-toc tr, .chapter-toc td {
	background-color: #f8f8f8 !important;
}

.pagination a,
.top a {
	font-size: 0.85rem;
	color: #2c9be5;
}

.top a {
	text-decoration: none;
}

.heading {
	border-top: 1px solid var(--bs-border-color);
	color: #2c9be5;
}

.heading h3 {
	font-weight: bolder;
}

.heading,
.heading-intro {
	background-color: #f8f8f8 !important;
}

.h {
	margin-top: 0.75rem;
	margin-bottom: 2rem;
}

.h:lang(ar) {
	margin-top: 0.5rem;
}

.h p,
.intro p,
.heading-intro p {
	margin-bottom: 0.25rem;
}

.h i {
	background-color: yellow;
	font-style: inherit;
}

.h:lang(en),
.intro:lang(en),
.heading-intro:lang(en) {
	font-size: 0.85rem;
}

.h .grade {
	font-weight: bold;
	font-style: normal;
	color: #2c9be5;
}

.h .chain {
	color: #a0a0a0 !important;
	text-indent: 2em;
}

.h .body,
.intro,
.heading-intro {
	text-indent: 2em;
}

.h .footnote {
	color: #a0a0a0;
	text-indent: 2em;
}

.h .title,
.h .title a,
.h .tags,
.h .tags a {
	color: #2c9be5;
	text-decoration: none;
}

.tags ._e {
	border: 0;
}

.h .title a:hover,
.h .tags a:hover {
	text-decoration: underline;
}

.partial {
	display: block;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	line-clamp: 5;
	-webkit-box-orient: vertical;
}

.partial:hover {
	height: fit-content;
	overflow: visible;
	display: block;
	-webkit-line-clamp: unset;
	line-clamp: unset;
	-webkit-box-orient: unset;
}

.toc a,
.toc2 a {
	text-decoration: none;
}

.toc a:hover,
.toc2 a:hover {
	text-decoration: underline;
}

.toc th,
.toc2 th {
	text-align: left;
}

.toc :lang(ar),
.toc2 :lang(ar) {
	text-align: right;
}

.toc tr.chapter,
.toc2 tr.chapter {
	background-color: ghostwhite;
	font-weight: bold;
}

.toc tr.title,
.toc2 tr.title {
	font-size: small;
}

.toc tr.title :lang(ar),
.toc2 tr.title :lang(ar) {
	font-size: 1rem;
}

.toc tr.title td {
	padding-left: 1.5rem;
	padding-right: 0;
}

.toc tr.title td:nth-child(4) {
	padding-left: 0;
	padding-right: 1.5rem;
}

.toggle {
	color: green;
	text-decoration: none;
}

.chapter h2:lang(ar),
.chapter h2:lang(ar) a {
	font-size: 1.75rem !important;
	font-weight: bold;
}

.chapter h3:lang(ar),
.chapter h3:lang(ar) a {
	font-size: 1.5rem !important;
	font-weight: bold;
}

/*
.similar-list {
	opacity: 0.6;
}
*/

.bi-reception-4,
.bi-reception-3,
.bi-reception-2 {
	color: green;
}

.bi-reception-1,
.bi-reception-0 {
	color: red;
}

.bi-patch-check-fill {
	color: #2c9be5;
}

.cmd-tr,
.cmd-tr a {
	color: #a0a0a0;
	line-height: 1.5rem;
}

.cmd-btn,
a.cmd-btn {
	color: #a0a0a0 !important;
	margin-left: 5px;
}

a.cmd-btn:hover {
	color: red !important;
}

.twitter-hashtag-button {
	margin-top: 1em;
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}

* html .ui-autocomplete {
	height: 100px;
}